@using CinemaHub.Common
@using CinemaHub.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="nav navbar-nav flex-child-menu menu-right">
    @if (this.SignInManager.IsSignedIn(this.User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @(this.User.Identity.Name)!</a>
        </li>
        if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Administration" asp-controller="Dashboard" asp-action="Index" title="Admin">Admin</a>
            </li>
        }
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@this.Context.Request.Path">
                <button type="submit" class="btn btn-default lv1 add-font signoutbtn">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="loginLink"><a href="#">LOG In</a></li>
        <li class="btn signupLink"><a asp-area="Identity" asp-page="/Account/Register">sign up</a></li>
    }
</ul>
