@{
    this.ViewData["Title"] = "About";
}

<div class="page-single">
   <h1>About CinemaHub</h1>
   <p>This web application is made to organize your entertainment media life. You can search and query from a large selection of movies and tv series, add them to watchlist where you can track which movies and tv shows you have watched, want to watch, dropped or are currently watching. Every media can be rated by users, and moreover you can review it so you tell people what you think of it. Also, you can create discussions with fellow users and talk about the media or make any remarks. Based on your ratings and watchlist you are recommendeded more media - the more you rate and add to watchlist, the better the recommendations get.</p>
</div>
