a.red-button {
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    display: block;
    width: 10%;
    background: #dd003f;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
    margin: 10px;
    border-radius: 3px !important;
    justify-content: center;
}

.signoutbtn {
    background-color: #dd003f;
    color: #ffffff;
    padding: 11px 25px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    font-family: 'Dosis', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
}