@model CinemaHub.Web.ViewModels.Media.MediaGridViewModel;
@{
    var action = ViewContext.RouteData.Values["Action"].ToString();
}

<div class="page-single">
    <div class="container">
        <div class="row ipad-width">
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="topbar-filter">
                    <p>Found <span id="pagesFound"></span> in total</p>
                    <label>Sort by:</label>
                    <select id="sortMenu">
                        <option value="a-z">A-Z</option>
                        <option value="popularity-desc">Popularity Descending</option>
                        <option value="popularity">Popularity Ascending</option>
                        <option value="rating-desc">Rating Descending</option>
                        <option value="rating">Rating Ascending</option>
                        <option value="date-desc">Release date Descending</option>
                        <option value="date">Release date Ascending</option>
                    </select>

                    @if (this.SignInManager.IsSignedIn(this.User))
                    {
                        <a asp-controller="Media" asp-action="Add" class="red-button">Add</a>
                    }
                </div>
                <div class="flex-wrap-movielist">
                </div>
                <div class="topbar-filter">
                    <label>@action per page:</label>
                    <select>
                        <option value="range">20 @action</option>
                    </select>

                    <div class="pagination2" id="paginationNumbers">
                        <span id="paginationCount">  </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="sidebar">
                    <div class="searh-form">
                        <h4 class="sb-title">Search for movie</h4>
                        <partial name="~/Views/Shared/Partial/FilterSidebar.cshtml" model="Model" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>