@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    Confirmation email has been send to @Model.Email and should arrive after 2-3 minutes! You must activate your account before logging in.
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}
