@using CinemaHub.Services.Data
@model CinemaHub.Web.ViewModels.Account.AvatarUploadInputModel;
@inject SignInManager<ApplicationUser> SignInManager
@inject IUserService userService;
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
    var userId = this.SignInManager.UserManager.GetUserId(this.User);
    var userAvatarPath = await this.userService.GetAvatarPath(userId);
}

<div class="user-information" style="margin-top: -100px">
    <div class="user-img">
        <a href="#"><img class="avatar-image" style="width: 200px; height: 200px" src="@userAvatarPath" alt=""><br></a>
        <a href="#" class="redbtn upload-btn">Change avatar</a>
        <div style="display: none; width: 100%" class="overlay-upload">
            <form method="post" asp-controller="Account" asp-action="UploadImage" enctype="multipart/form-data">
                <input asp-for="Image" style="width: 100%; margin-top: 50px" type="file" />
                <input type="submit" id="Submit" />
            </form>
        </div>
    </div>
    <div class="user-fav">
        <p>CinemaHub Details</p>
        <ul>
            <li><a asp-page="./Watchlist">Watchlist</a></li>
            <li><a asp-page="./Reviews">Reviews</a></li>
        </ul>
    </div>
    <div class="user-fav">
        <p>Account Details</p>
        <ul>
            <li><a id="profile" asp-page="./Index">Profile</a></li>
            <li><a id="email" asp-page="./Email">Email</a></li>
            <li><a id="change-password" asp-page="./ChangePassword">Password</a></li>
            @if (hasExternalLogins)
            {
                <li id="external-logins"><a id="external-login" asp-page="./ExternalLogins">External logins</a></li>
            }
            <li><a id="two-factor" asp-page="./TwoFactorAuthentication">Two-factor authentication</a></li>
            <li><a id="personal-data" asp-page="./PersonalData">Personal data</a></li>
        </ul>
    </div>
</div>


